<div>
    <span>Select a page</span>
    <select>
        <option>Home</option>
        <option>About us</option>
        <option>Tours</option>
            <option>-Italy</option>
            <option>-France</option>
            <option>-Latvia</option>
            <option>-London</option>
        <option>Contact us</option>
    </select>
</div>
<div>
   
      <span>Show in new tab</span>
    
    <div class="block">
        Yes / No
    </div>
</div>

<button class="a-btn-lg a-btn-def">Convert to button</button>
