<div class="color-picker-wrapper">
     <input type="text" [value]="arrayColors[selectedColor]"/>
     <button (click)="confirmColor(arrayColors[selectedColor])" class="confirm">Confirm</button>
</div>

{{selectedColor}}


  

<div>
  <span [(colorPicker)]="arrayColors[selectedColor]"     
    [cpDialogDisplay]="'inline'"
    [style.background]="colors[selectedColor]"
    [cpToggle]="true">
</span>

</div>

<ul>
    <li *ngFor="let color of colors ">           
        <div class="color-drop" [style.color]="color" [style.background]="color"
        ></div>
        {{color}}
        
    </li>
</ul>


<!--
 <span [(colorPicker)]="arrayColors[selectedColor]"     
      
        [style.background]="arrayColors[selectedColor]"
        [cpCancelButtonClass]= "'btn btn-primary btn-xs'"
        [cpCancelButton]="true"
        [cpToggle]="true"
        [cpOKButton]="true"
        [cpDialogDisplay]="'inline'"
        [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', 'rgb(236,64,64)']"
       >
     <br /> <br />
       
    </span>  
-->
