
<div class="editor-wrapper">
<div (click)="testLoad()">
click to test

</div>
    <ul class="toolbar">
        <li *ngFor="let button of toolbarEditor ">   
               <div class="btn-menu">
                   <button type="button"  [title]="button.title" (click)="execCommand(button.command, button.options)" (click)="loadView(button)" >  
                       <i class="fa {{ button.icon }}" aria-hidden="true" ></i>
                  </button>
                </div>  
              
                <ul>
                    <li *ngFor="let subitem of button.children">
                        <div >
                           <button type="button" 
                       
                           (click)="loadsubView(subitem)"
                           (click)="execCommand( toolbarEditor[subitem].command, toolbarEditor[subitem].options)"
                           >
                        
                              XX
                            </button>
                        </div>  
                     
                    </li>
                </ul>
        </li>
        <li *ngFor="let button of toolbarImageAlign">  
               <button type="button" [title]="button.title">
                  <i class="fa {{ button.icon }}" aria-hidden="true" ></i>
                </button>
        </li>
        <li>
          <button type="button"  (click)="loadBuilder()">
                  Builder
          </button>
        </li>

    </ul>

  <div class="view"> 
     
     
      <dynamiccontent-component [componentData]="componentData"></dynamiccontent-component>
  </div>

</div>

<style>
.editor-wrapper{ position: absolute; bottom: 20px; right: 20px;z-index: 10; height: 330px;border: solid 1px;background-color: white;}
.toolbar    { padding: 0px; }
.toolbar li  {  display: inline-block;  border: solid 1px; vertical-align: top;}
.toolbar li  ul { padding: 0px; }
.btn-menu { background-color: #dedede; }
.toolbar li .btn-menu  {display: inline-block;}
.toolbar li .btn-view {display: inline-block;}
</style>