<div class="editor-wrapper">
<div (click)="testLoad()">
click to test

</div>
    <ul class="toolbar">
        <li *ngFor="let button of toolbarEditor | menuType:MainMenu">   
               <div class="btn-menu">
                   <button type="button"  [title]="button.title" (click)="execCommand(button.command, button.options)" (click)="loadView(button)" >  
                       <i class="fa {{ button.icon }}" aria-hidden="true" ></i>
                  </button>
                </div>  
                <div class="btn-view">

                 <!-- <dynamiccontent-component [componentData]="menuComponentData"></dynamiccontent-component>-->
                  {{ button.menuView }}
                </div>
                <ul>
                    <li *ngFor="let subitem of button.children">
                        <div >
                           <button type="button" 
                           [title]="toolbarEditor[subitem].title"  
                           (click)="loadsubView(subitem)"
                           (click)="execCommand( toolbarEditor[subitem].command, toolbarEditor[subitem].options)"
                           >
                           {{toolbarEditor[subitem].title}}
                              <i class="fa  {{toolbarEditor[subitem].icon}}" aria-hidden="true" ></i>
                            </button>
                        </div>  
                        <div>

                           {{toolbarEditor[subitem].menuView}}
                        </div>
                    </li>
                </ul>
        </li>
        <li *ngFor="let button of toolbarImageAlign">  
               <button type="button" [title]="button.title">
                  <i class="fa {{ button.icon }}" aria-hidden="true" ></i>
                </button>
        </li>
        <li>
          <button type="button"  (click)="loadBuilder()">
                  Builder
          </button>
        </li>
        <li>
          <button type="button"  (click)="toggleEditMode()">
                  HTML
          </button>
        </li>
    </ul>

  <div class="view"> 
     
     
      <dynamiccontent-component [componentData]="componentData"></dynamiccontent-component>
  </div>

</div>

<style>
.editor-wrapper{ position: absolute; bottom: 20px; right: 20px;z-index: 10; height: 330px;border: solid 1px;background-color: white;}
.toolbar    { padding: 0px; }
.toolbar li  {  display: inline-block;  border: solid 1px; vertical-align: top;}
.toolbar li  ul { padding: 0px; }
.btn-menu { background-color: #dedede; }
.toolbar li .btn-menu  {display: inline-block;}
.toolbar li .btn-view {display: inline-block;}
</style>