<div class="editor-wrapper">
  <ul class="toolbar">
      <li *ngFor="let item of editor | menuType:MainMenu">   
           <div (click)="loadView(item)">
             {{item.title}} 
            </div>  
            <div>
              Menu view
            </div>
          <ul>
              <li *ngFor="let subitem of item.children">
                  <div (click)="loadsubView(subitem)">
                   {{ (editor | findById: subitem).title }}
                  </div>  
                  <div>
                    Menu view
                  </div>
              </li>
          </ul>
      </li>
  </ul>

<div class="view"> 
    <!--
    <dynamiccontent-component [componentData]="menuComponentData"></dynamiccontent-component>-->
    <dynamiccontent-component [componentData]="componentData"></dynamiccontent-component>
</div>

</div>