
<form [formGroup]="colorsForm" class="form-inline" (ngSubmit)="onSubmit()">
   	 <input type="text" class="form-control"  formControlName="colorHex" placeholder="#fff" [value]="currentColor" 
   	 (ngModelChange) = "currentColor = $event"

   	 >
    <button type="submit" class="btn btn-default">Submit</button>
</form>




<!--
<div>
  <span [(colorPicker)]="arrayColors[selectedColor]"     
    [cpDialogDisplay]="'inline'"
    [style.background]="colors[selectedColor]"
    [cpToggle]="true">
</span>

</div>
-->